{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About Me</h1>
<p>Meet Nick Johnson, the developer behind this message board site! With a passion for creating online communities, Nick
    brings a unique blend of creativity and technical expertise to the project. When he’s not coding, you can find him
    riding the waves while surfing, keeping the beat on his drums, or diving into immersive worlds in his favorite MMOs.
    His diverse interests inspire him to build a platform where others can connect, share experiences, and engage in
    meaningful conversations. Nick is excited to see how this space evolves and looks forward to fostering a vibrant
    community.</p>


{% endblock content %}