{% extends 'base.html' %}

{% block title %} {% endblock title %}


{% block content %}
<h1>Welcome to JankyBlog</h1>
<p>Using a blog as a platform for discussion and expression can be a rewarding experience, but it's essential to
    establish rules and restrictions to maintain a polite and respectful environment. First and foremost, all comments
    should be constructive and relevant to the topic at hand, fostering thoughtful dialogue rather than divisive
    arguments. Personal attacks, hate speech, and offensive language will not be tolerated, as they undermine the spirit
    of open communication. Encouraging users to listen actively and respond with empathy helps create a welcoming
    atmosphere. Additionally, participants should avoid spamming or self-promotion unless explicitly permitted, ensuring
    that the focus remains on meaningful exchanges. By adhering to these guidelines, everyone can contribute to a
    positive and enriching blogging experience.</p>


{% endblock content %}